* {
  left: 0;
  top: 0;
  margin: 0;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}
#container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40vw;
  height: 40vh;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,.5);
}
@media (max-width: 650px) {
  #container {
    height: 40vh;
    width: 80vw;
  }
}
button {
  color: black;
  background-color: white;
  border: none;
  outline: none;
  height: 50px;
  width: 100px;
  font-size: 20px;
  border-radius: 10px;
  box-shadow: 10px 10px;
  transition: .2s;
}
button:hover {
  cursor: pointer;
}
button:active {
  transition: .2s;
  box-shadow: 5px 5px;
}